---
const {t} = Astro.props
---

<a class="fixed bottom-0 right-0 h-16 w-16" href="/cv.bdou.org.pdf" download>
    <img class="w-7" src="/projects/svg/file-download.svg" title={t("download")} alt="cv download">
</a>