---
import { Icon } from 'astro-icon'
const { title, icon, svg, link, color } = Astro.props;
---

<li title={ title }>
  <a class={color ? color + " text-decoration-none" : "text-decoration-none"} href={link} target="_blank">
    {icon && <Icon name={icon} class="w-8"/>}
    {svg && <svg class="w-8">       
        <image xlink:href={svg} class="w-8"/>    
      </svg>
    }
  </a>
</li>
