<div class="pb-12 mt-5">
  <div class="text-xl py-1">Bonjour 👋🏿</div>
  <div class="text-5xl font-bold">Je suis Assane Niang Gadiaga</div>
  <div class="text-3xl py-3 font-bold">
    Consultant International
  </div>
  <div class="py-2">
    <text class="text-lg">
      Géographe de formation, je bénéficie d'une 
      longue expérience dans la conception, la collecte, le traitement et 
      l'analyse des données d'enquete et de recensement. Quand les données de 
      recensement sont obsoletes, j'utilise les techniques de modélisation
      avancée telle que le <b>machine learning</b> et la <b>géostatistique</b>, 
      en combinaison avec la télédetection, pour produire des estimations 
      de population a haute résolution. Titulaire d'un <b>doctorat en géographie de la sante</b>, 
      j'applique les outils et méthodes de l'épidemiologie spatiale a l'analyse des déterminants
      de la santé, et a l'analyse des facteurs de risque contextuels associes aux maladies infectieuses. 
      Je travaille avec les logiciels suivants:
      <em class="text-slate-600 font-black"
        >RStudio, Python, ArcGis, QGIS</em
      >
      Aujourd'hui, je mets toutes ces connaissances au profit de mes futurs clients/collaborateurs.
    </text>
  </div>
</div>
